
@{
    ViewData["Title"] = "Index";
    Layout = "Layout";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<h1>Главная</h1>
<div><a class="btn btn-sm btn-primary" href="/initdb">Инициализировать базу данных</a></div>
