@model List<SII.UserCoeff>
@{
    ViewData["Title"] = "Correlation";
    Layout = "Layout";
}

<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<h1>Correlation</h1>

<table>
    <tr>
        <th>UserId</th>
        <th>Correlation</th>
    </tr>
    @foreach (SII.UserCoeff u in Model)
    {
        <tr>
            <td>@u.UserId</td>
            <td>@u.Coeff</td>
        </tr>
    }
</table>